.movieCard{
    flex-flow: column;
}
.movieTitle{
    /* display: flex */
    width: 100px ;
    overflow: hidden;
    white-space:nowrap ;
    text-overflow: ellipsis ;
}


.movieOverview{
    width:150px; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}