.movie-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    grid-gap: 5px;
    grid-auto-rows: 20px;
   
}
.movie-list img{
    max-width: 200px;
    max-height:264px ;
    grid-row-end: span 3;

}